body {
	background-color: rgb(21, 49, 109);
	/* background: image_url("vintage-concrete.png"); */
	font-family: "Hind Guntur", sans-serif;
	font-weight: 400;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	padding: 3%;
	margin: 3%;
	width: auto;
	height: auto;
	border-radius: 15px;
	/* justify-self: center; */
}

.clear {
	clear: both;
}

.container {
	display: grid;
	grid-template-columns: 55% 45%;
	grid-column-gap: 15px;
	justify-self: start;
	align-items: center;
	margin: 0.5%;
	padding: auto;
}

.containerColumns {
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	align-items: center;
	margin: auto;
}

input[type="number"] {
	width: 100px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 9px;
	font-size: 12px;
	background-color: white;
	/* background-image: url('searchicon.png'); */
	/* background-position: 10px 10px;
	background-repeat: no-repeat; */
	padding: 6px 6px 6px 6px;
	transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
	width: 100%;
}

button {
	border-radius: 5px;
	margin: 5px;
	padding: 9px;
	font-size: small;
}

/* .itemText {
	flex-basis: 20em;
}

.itemBox {
	flex-basis: 40em;
} */
